i.lead{
    font-size: 1.8rem;
}
.imgInstagram{
    width: 150px;
   margin-right: auto;
   object-fit: cover;
}
.nav nav-tabs{

    margin: auto;
}
.imagen{

width: 100%;
height: 300px;
margin: 10px;
object-fit: cover;


}
.card-img-top{
    width: 100%;
    height: 300px;


}

.imagenPeque{
    width: 45px;
    height: 45px;
    margin: 8px;
    object-fit: cover;
    border-radius: 50%;
   
}